In [1]:
from datetime import datetime

now = datetime.now()
print(datetime.now())
print(now.year, now.month, now.day, now.time())

2017-11-06 22:07:56.002437
2017 11 6 22:07:56.002437

In [14]:
diff = datetime(2017, 11, 6, 17) - datetime(2017, 5, 30, 15)
print(diff)
print(diff.days)
print(diff.seconds)
# 这里是7200秒2小时

160 days, 2:00:00
160
7200

In [20]:
dt_obj = datetime(2017, 11, 6)
str_obj = str(dt_obj)
str_obj2 = dt_obj.strftime('%d-%m-%Y')

print(str_obj, type(str_obj))
print(str_obj2)

2017-11-06 00:00:00 <class 'str'>
06-11-2017

In [24]:
dt_str = '2017-11-06'
dt_obj3 = datetime.strptime(dt_str, '%Y-%m-%d')
print(dt_obj3, type(dt_obj3))

2017-11-06 00:00:00 <class 'datetime.datetime'>

In [29]:
from dateutil.parser import parse

dt_str2 = '18-2-2017'
dt_obj4 = parse(dt_str2)
print(dt_obj4, type(dt_obj4))

2017-02-18 00:00:00 <class 'datetime.datetime'>

In [56]:
import pandas as pd

dt_ser = pd.Series(['2017-2-8', '2016/7/3', '2007/09/12',
                    '2001-09-09', None],
                   name='course_time')
print(dt_ser)
dt_obj5 = pd.to_datetime(dt_ser)
print(dt_obj5)

0      2017-2-8
1      2016/7/3
2    2007/09/12
3    2001-09-09
4          None
Name: course_time, dtype: object
0   2017-02-08
1   2016-07-03
2   2007-09-12
3   2001-09-09
4          NaT
Name: course_time, dtype: datetime64[ns]

In [57]:
dt_obj5 = dt_obj5.drop(0, axis=0, inplace=False)
# dt_obj5.drop(0, axis=0, inplace=True)
# iplace=ture真实删除
print(dt_obj5)

1   2016-07-03
2   2007-09-12
3   2001-09-09
4          NaT
Name: course_time, dtype: datetime64[ns]

In [72]:
dt_ser = pd.date_range('2017-11-6', periods=10, freq='W')
print(dt_ser)
df = pd.Series(pd.np.random.randn(len(dt_ser)), index=dt_ser)
print(df)

DatetimeIndex(['2017-11-12', '2017-11-19', '2017-11-26', '2017-12-03',
               '2017-12-10', '2017-12-17', '2017-12-24', '2017-12-31',
               '2018-01-07', '2018-01-14'],
              dtype='datetime64[ns]', freq='W-SUN')
2017-11-12    1.561397
2017-11-19   -0.036908
2017-11-26    0.480059
2017-12-03   -0.259122
2017-12-10   -2.177528
2017-12-17   -0.838538
2017-12-24    0.529859
2017-12-31    1.050090
2018-01-07   -2.076962
2018-01-14   -0.147285
Freq: W-SUN, dtype: float64

In [85]:
print(df[0])
print(df['2017-12-10'])
print(df['20171210'])
print(df[datetime(2017, 12, 10)])
print(df['2017-12'])
print(df['2018']) 
print(df['2018':])

1.56139741867
-2.17752751918
-2.17752751918
-2.17752751918
2017-12-03   -0.259122
2017-12-10   -2.177528
2017-12-17   -0.838538
2017-12-24    0.529859
2017-12-31    1.050090
Freq: W-SUN, dtype: float64
2018-01-07   -2.076962
2018-01-14   -0.147285
Freq: W-SUN, dtype: float64
2018-01-07   -2.076962
2018-01-14   -0.147285
Freq: W-SUN, dtype: float64
2018-01-07   -2.076962
2018-01-14   -0.147285
Freq: W-SUN, dtype: float64

In [87]:
print(df.truncate(before='2018'))
print(df.truncate(after='2018'))

2018-01-07   -2.076962
2018-01-14   -0.147285
Freq: W-SUN, dtype: float64
2017-11-12    1.561397
2017-11-19   -0.036908
2017-11-26    0.480059
2017-12-03   -0.259122
2017-12-10   -2.177528
2017-12-17   -0.838538
2017-12-24    0.529859
2017-12-31    1.050090
Freq: W-SUN, dtype: float64

In [93]:
dt_ser = pd.date_range('2017-11-6 00:00:30', periods=10, freq='D')
print(dt_ser)
dt_ser = pd.date_range('2017-11-6 00:00:30', periods=10,
                       freq='D',normalize=True)
print(dt_ser)

DatetimeIndex(['2017-11-06 00:00:30', '2017-11-07 00:00:30',
               '2017-11-08 00:00:30', '2017-11-09 00:00:30',
               '2017-11-10 00:00:30', '2017-11-11 00:00:30',
               '2017-11-12 00:00:30', '2017-11-13 00:00:30',
               '2017-11-14 00:00:30', '2017-11-15 00:00:30'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2017-11-06', '2017-11-07', '2017-11-08', '2017-11-09',
               '2017-11-10', '2017-11-11', '2017-11-12', '2017-11-13',
               '2017-11-14', '2017-11-15'],
              dtype='datetime64[ns]', freq='D')

In [102]:
# 偏移量
dt_offset = pd.tseries.offsets.Week(1) + pd.tseries.offsets.Hour(3) 
dt_ser = pd.date_range('2017-11-6 00:00:30', periods=10, freq=dt_offset)
print(dt_ser)

DatetimeIndex(['2017-11-06 00:00:30', '2017-11-13 03:00:30',
               '2017-11-20 06:00:30', '2017-11-27 09:00:30',
               '2017-12-04 12:00:30', '2017-12-11 15:00:30',
               '2017-12-18 18:00:30', '2017-12-25 21:00:30',
               '2018-01-02 00:00:30', '2018-01-09 03:00:30'],
              dtype='datetime64[ns]', freq='171H')

In [110]:
dt_ser = pd.date_range('2017-11-6', periods=10, freq='W')
df = pd.Series(pd.np.random.randn(len(dt_ser)), index=dt_ser)
print(df)
# 向下错位
# 向上错位
print(df.shift(1),df.shift(-1))

2017-11-12   -0.561919
2017-11-19   -0.272388
2017-11-26   -0.043290
2017-12-03   -0.325043
2017-12-10   -0.327715
2017-12-17   -1.726720
2017-12-24    0.378695
2017-12-31   -0.747869
2018-01-07    0.504419
2018-01-14   -1.118065
Freq: W-SUN, dtype: float64
2017-11-12         NaN
2017-11-19   -0.561919
2017-11-26   -0.272388
2017-12-03   -0.043290
2017-12-10   -0.325043
2017-12-17   -0.327715
2017-12-24   -1.726720
2017-12-31    0.378695
2018-01-07   -0.747869
2018-01-14    0.504419
Freq: W-SUN, dtype: float64 2017-11-12   -0.272388
2017-11-19   -0.043290
2017-11-26   -0.325043
2017-12-03   -0.327715
2017-12-10   -1.726720
2017-12-17    0.378695
2017-12-24   -0.747869
2017-12-31    0.504419
2018-01-07   -1.118065
2018-01-14         NaN
Freq: W-SUN, dtype: float64